*.DS_Store*

# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mongodb
server/mongodb_data
server_mongo/
server_temp/
server/data/assets/
server/data
server/app_data/
server/temp/
data/

# Maven
server/target

# Install packags
release/

# Files too large for git (consider splitting the zip files into multiple parts)
build_cache/java8.zip
build_cache/java17.zip

# Playwright stuffs
client/.browser-tmp/
client/.npm-cache/
client/.npm_cache/
client/.playwright-browsers/
client/.tmp/
client/playwright-report/
client/test-results/

# Client unit tests
.browser-tmp/
.chrome-home/
.npm-cache/
client/.chrome-home/
.karma-profile/
client/browsers/

# I think this is generated code on the client/server
server/build_output/
server/target_dist/
server/target_dev/
server/target_exec/
client/tmp-karma/
server/generated-sources/
server/target_generated/
server/target_generated_3/
server/protoc_local.exe
server/target_test/
client/.npmrc
server/gen-proto/
client/node_modules_backup/

# database folders as they move arounds <sigh>
data_v2
data_v3

client/package-lock.json
build_cache

# Analytics
server/src/main/resources/analytics.properties
