<div class="driver-station-container" [class.fuel-race]="isFuelRace" [style.background-color]="backgroundColor" [style.color]="foregroundColor">

  
  <!-- Column 1: Thermometer (Time/Laps Left) -->
  <div class="column thermometer-column">
    <div class="thermometer-container">
      <div class="thermometer-fill" [style.height.%]="progressPercentage" [style.background-color]="foregroundColor"></div>
    </div>
    <div class="thermometer-label">
      <span *ngIf="finishMethod === 'Timed'">{{ time | number:'1.0-0' }}</span>
      <span *ngIf="finishMethod === 'Lap'">{{ (finishValue - (driverData?.lapCount || 0)) }}</span>
    </div>
  </div>

  <!-- Column 2: Data Rows -->
  <div class="column data-column" [class.span-all]="!isFuelRace">
    <div class="data-row">
      <span class="label shrink-value">{{ 'RD_COL_NICKNAME' | translate }}</span>
      <span class="value nickname-value">{{ driverData?.driver?.nickname }}</span>
    </div>
    <div class="data-row rank-row">
      <div class="rank-col">
        <span class="label shrink-value">{{ 'RD_COL_RANK_HEAT' | translate }}</span>
        <span class="value shrink-value">{{ standingsPosition ? standingsPosition : '--' }}</span>
      </div>
      <div class="rank-col">
        <span class="label shrink-value">{{ 'RD_COL_RANK_OVERALL' | translate }}</span>
        <span class="value shrink-value">{{ overallPosition ? overallPosition : '--' }}</span>
      </div>
    </div>
    <div class="data-row lap-row">
      <div class="lap-col">
        <span class="label shrink-value">{{ 'RD_COL_LAP' | translate }}</span>
        <span class="value shrink-value">{{ driverData?.lapCount ? driverData?.lapCount : '--' }}</span>
      </div>
      <div class="lap-col">
        <span class="label shrink-value">{{ 'RD_COL_LAP_TIME' | translate }}</span>
        <span class="value shrink-value">{{ driverData?.lastLapTime ? (driverData?.lastLapTime | number:'1.3-3') : '--.---' }}</span>
      </div>
    </div>
    <div class="data-row">
      <span class="label shrink-value">{{ 'RD_COL_GAP_LEADER' | translate }}</span>
      <span class="value shrink-value">{{ driverData?.gapLeader ? (driverData?.gapLeader | number:'1.3-3') : '--.---' }}</span>
    </div>
    <div class="data-row">
      <span class="label shrink-value">{{ 'RD_COL_BEST_LAP' | translate }}</span>
      <span class="value shrink-value">{{ driverData?.bestLapTime ? (driverData?.bestLapTime | number:'1.3-3') : '--.---' }}</span>
    </div>
    <div class="data-row race-state-row">
      <div class="race-state-indicator" [class]="'race-state-' + raceStateColor"></div>
    </div>
  </div>


  <!-- Column 3: Fuel Thermometer (Conditional) -->
  <div class="column thermometer-column fuel-column" *ngIf="isFuelRace">
    <div class="thermometer-container">
      <div class="thermometer-fill" [style.height.%]="fuelPercentage" [style.background-color]="foregroundColor"></div>
    </div>
    <div class="thermometer-label">
      <span>{{ fuelPercentage | number:'1.0-0' }}%</span>
    </div>
  </div>

</div>
